header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
    /* background-image:linear-gradient(#ff5722, #ffc107) */
    
    
}

.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}


.cta{
    margin-top:2.5rem;
    display: flex;
    gap:1.2rem;
    justify-content: center;
}



.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after{
    content: "";
    width: 1px;
    height: 4rem;
    background: white;
}


.me{
    background: linear-gradient(var(--color-primary), transparent);
    width:22rem;
    height: 30rem;
    position:absolute;
    left:calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 6rem 2rem 0;
    overflow: hidden;
    padding:5rem 1.5rem 1.5rem 1.5rem;
}

.me:hover{
    background-color:white;
    transition: var(--transition);
    box-shadow: 3px 2px 21px 5px rgba(183, 210, 215, 0.25);
}

.scroll_down{
    position:absolute;
    right:-2.3rem;
    bottom:5rem;
    
    font-weight: 300;
    font-size:2.5rem;
}



ul li{
    position:absolute;
    border:1px solid #4aacf2;
    width:30px;
    height:30px;
    list-style:none;
    background:#4aacf2;
}

.square li{
   
    top:50vh;
    left:45vw;
    animation: square 10s linear infinite;
    opacity: 0;
    

}
.square li:nth-child(2){
   
    top:8vh;
    left:15vw;
    animation-delay: 2s;

}
.square li:nth-child(3){
   
    top:30vh;
    left:75vw;
    animation-delay: 9s;
}
.square li:nth-child(4){
   
    top:10vh;
    left:55vw;
    animation-delay: 1s;
}
.square li:nth-child(5){
   
    top:60vh;
    left:85vw;
    animation-delay: 5.5s;
}
.square li:nth-child(6){
   
    top:40vh;
    left:15vw;
    animation-delay: 7s;
}

@keyframes square{
    0%{ 
        transform:scale(0) rotate(0deg);
        opacity:1;
    }
   100%{ 
        transform:scale(5)rotate(60deg) ;
        opacity:0;
        border-radius:50%;
    }
}


.circle li{
    bottom:0;
    left:15vw;
    animation:circle 10s linear infinite;
}
.circle li:nth-child(2){
    
    left:35vw;
    animation-delay: 1s;
}
.circle li:nth-child(3){
    
    left:55vw;
    animation-delay: 6s;
}
.circle li:nth-child(4){
    animation-delay: 3s;
    left:65vw;
}
.circle li:nth-child(5){
    animation-delay: 4s;
    left:5vw;
}

@keyframes circle{
    0%{
        
        transform: scale(0) rotate(0deg);
        opacity: 1;
        bottom:0;
        border-radius:0;
    }
    100%{
        
        transform: scale(5) rotate(1000deg);
        opacity: 0;
        bottom:90vh;
        border-radius:50%0;
    }
}




@media screen and (max-width:1024px) {
    header{
        height:68vh;
    }

}

/* media queries small device */

@media screen and (max-width:600px) {
  header{
      height:100vh;
  }

  .header_socials, 
  .scroll_down{
      display:none;
  }

}