.experience_container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap: 2rem;
}

.experience_container >div{
    background-color: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius:2rem;
    border: 1px solid transparent;
    transition: var(--transition)

}
.experience_container>div:hover{
    background:transparent;
    border-color: var(--color-primary-variant);
}
.experience_container>div h3{
text-align: center;
color: var(--color-primary);
margin-bottom : 2rem;
}

.experience_content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
}

.experience_details{
    display:flex;

}
