nav{
    background-color: rgba(0, 0, 0, 0.5);
    width:max-content;
    display: block;
    padding:0.7rem 1.7rem;
    z-index: 2;
    position:fixed;
    left:35%;
    transform:translate(-50%);
    top:1rem;
    display: flex;
    gap:2rem;
    border-radius:3rem;
    backdrop-filter: blur(15px);

    animation-delay: 5.5s;
}

nav a{
    background:tranparent;
    padding:0.8rem;
    border-radius: 50%;
    display:flex;
    color:var(--color-light);
    font-size:1.1rem;

}

nav a:hover{
background:rgba(0,0,0,0.4)
}

nav a.active{
    background:var(--color-bg);
    color:var(--color-white)
}
/* media queries medium device */

@media screen and (max-width:1024px) {
    nav {
          
            left: 20%;

}
}

/* media queries small device */

@media screen and (max-width:600px) {
    nav a {
            background: tranparent;
            padding: 0.6rem;
            border-radius: 50%;
            display: flex;
            color: var(--color-light);
            font-size: 1.1rem;
    
        }
nav{
    
        gap: 1rem;
        left:0;
}
}